.slide{
      justify-content: center;
      
}

.carousel-slide img{
    margin-top:5rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius:1rem;
    filter: drop-shadow(5px 15px 10px #6d6d6d);
    padding-bottom: 5rem;
}
