.header1{
  
    background:rgba(158, 158, 158, 0.541);
  
}

.header1-items li{
display:inline-block;  
line-height:80px;
margin:1rem;  
align-items: center;
text-align: center;
font-size: larger;

}
