.pickscontainer{

position:relative;
height:100vh;

}

.card{
   width:27rem;
   height:27rem;
   background-color: grey;
    filter: drop-shadow(5px 15px 10px #6d6d6d);
    border-radius: 2rem;
        overflow-x: hidden;
     overflow-y: hidden;
}

.btn.btn-primary{
    height:2.5rem;
    background-color: rgb(96, 207, 120);
    color:white;
}
section{
    display:flex;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    gap:5rem;
}
.card-text{
        overflow-x: hidden;
        overflow-y: hidden;
}